/* < !-- body 默认有8像素的外边距 --> */

* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1200px;
    margin: auto;
}

body {
    background-color: #f3f5f7;
    /* height: 3000px; */
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.header {
    height: 42px;
    /* background-color: pink; */
    margin: 30px auto;
    /* auto会覆盖w的auto，注意不要写别的。  */
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
    /* background-color: purple; */
}

/* 去掉li标签前面的点 */
li {
    list-style: none;
}

/* 去掉a标签的下划线 */
a {
    text-decoration: none;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

/* a中宽度不方便设置，因为a中文字数量不一样，所以最好给个padding撑开 */
.nav ul li a:hover {
    border-bottom: 2px solid blue;
    color: blue;
}

.search {
    float: left;
    height: 42px;
    width: 412px;
    /* background-color: skyblue; */
    margin-left: 70px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid blue;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    /* background-color: black; */
    /* 将button的默认的边框去掉 */
    border: 0;
    background-image: url(images/btn.png);
}

.user {
    float: right;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color: #666;
}

/*  banner区域  */
.banner {
    height: 421px;
    background-color: #1c036c;
}

.banner .w {
    height: 421px;
    background: url(images/banner2_20190819_210028.png) no-repeat top center;
}

.banner .w .subnav {
    float: left;
    width: 190px;
    height: 421px;
    background: rgba(0, 0, 0, 0.3);
}

.subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.subnav ul li a {
    font-size: 14px;
    color: #fff;
}

.subnav ul li a:hover {
    color: #00a4ff;
}

.subnav ul li a span {
    float: right;
}

.course {
    float: right;
    width: 230px;
    height: 300px;
    background-color: #fff;
    /* 浮动的盒子不会有外边距合并的问题。*/
    margin-top: 50px;
}

.course h2 {
    background-color: #00a4ff;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}


.bd {
    padding: 0 20px;
}

.bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}

.bd ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.bd .more {
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
}

.goods {
    height: 60px;
    background-color: white;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    line-height: 60px;
    /* 行高会继承给孩子 */
}

.goods h3 {
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;
}

.goods ul {
    float: left;
    margin-left: 30px;
}

.mod {
    float: right;
    margin-right: 30px;
}

.goods ul li {
    float: left;
}


.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}


.box {
    /* background-color: #00a4ff; */
    margin-top: 30px;
}

.box-hd {
    height: 45px;
}

.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box-hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;
}


.box-bd ul {
    width: 1225px;
}

/* 把li的父亲ul修改的足够宽，能一行装5个盒子，就不会换行了 */
.box-bd ul li {
    float: left;
    width: 228px;
    height: 270px;
    background-color: white;
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;

}

.box-bd ul li em img {
    position: absolute;
    top: 8px;
    right: -5px;
}

.box-bd ul li>img {
    width: 100%;
}

.box-bd ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.box-bd ul li .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.box-bd ul li .info span {
    color: #ff7c2d;
}



.footer {
    height: 415px;
}

.footer .w {
    padding-top: 35px;
}

.copyright {
    float: left;
}

.links {
    float: right;
}

.copyright p {
    font-size: 12px;
    color: #666;
    margin: 20px 0 15px 0;
}

.copyright .app {
    display: block;
    width: 118px;
    height: 33px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 33px;
    color: #00a4ff;
    font-size: 16px;
}

.links dl {
    float: left;
    margin-left: 100px;
}

.links dl dt {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.links dl dd a {
    color: #333;
    font-size: 12px;
}